.App {
  text-align: center;
  margin: 'auto';
  background-color: '#dfd7cc';
}
* {
  font-family: 'Lucida Console', 'Courier New', monospace;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
